#top-header {
    text-align: center;
    padding: 100px;
    border-style: groove;
    border-color: whitesmoke;
}
img {
    max-height: 200px; 
    max-width: 300px;
    margin: 20px;

}
#display-area {
    text-align: center;

};

