#jumbotronid {
    background-color: darkgray;
    
}

.container {
    text-align: center;
    font-family: 'Viaoda Libre', cursive;
}
#openWeatherLogo {
    max-width: 90px;
    max-height: 70px;
}
#button-container {
    background-color: darkgray;
    padding: 15px;
}
#button-area {
    margin-top: 30px;
}

img {
    max-height: 200px; 
    max-width: 300px;
    margin: 20px;

}
#display-area {
    text-align: center;

};

