body {
    background-image: url("b&wlake.jpg");
    background-size: cover;
}

#jumbotronid {
    background-color: darkgray;
    border-bottom: black;
    border-bottom-style: groove;
    
}

.container {
    text-align: center;
    font-family: 'Viaoda Libre', cursive;
    font-size: 23px;
    font-weight: bolder;
        color: white;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
   
}
#openWeatherLogo {
    max-width: 90px;
    max-height: 70px;
}
#button-container {
    background-color: darkgray;
    padding: 15px;
    border-color: black;
    border-style: groove;
}
#button-area {
    margin-top: 30px;
    font-weight: bold;
}

img {
    max-height: 200px; 
    max-width: 300px;
    margin: 20px;
    border-style: solid;
    border-color: black;

}


